---
import type { Work } from "../../types/global";

interface Props {
  items: Work[];
}

const { items } = Astro.props;
---

<ul>
  {
    items.map((work) => (
      <li>
        <button
          data-title={work.title}
          data-image={work.imageSrc}
          data-date={work.createdAt}
          data-members={work.authors}
        >
          <figure>
            <img src={work.imageSrc} alt={work.title} />
            <figcaption>{work.title}</figcaption>
          </figure>
        </button>
      </li>
    ))
  }
</ul>

<style lang="scss">
  ul {
    display: grid;
    width: 100%;
    padding: 24px 0; // ホバー時に画像が拡大する際の見切れを回避するために縦方向の余白を確保
    margin: 0;
    list-style: none;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 42px 0;
    overflow: hidden;

    @include sp {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  button {
    margin: 0;
    padding: 0;
    width: 100%;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    transition: 0.15s ease-in;

    &:hover {
      scale: 1.05;
    }
  }

  figure {
    margin: 0;
  }

  img {
    width: 100%;
    user-select: none;
    pointer-events: none;
  }

  figcaption {
    font-size: 1rem;
    margin-top: 4px;
  }
</style>
